[Unit]
Description=Test fio mailing list patches timer
ConditionPathExists=/home/vincent/fio-dev/fio-maintainer

[Timer]
OnBootSec=5m
OnUnitInactiveSec=30m

[Install]
WantedBy=default.target
